on:
  workflow_dispatch: ~
  push:
    branches: [main]
  # pull_request: ~
  # release:
  #   types: [created]
  # schedule:
  #   - cron: '0 0 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: ['8.2']
    steps:
      - uses: actions/checkout@v6
      - uses: docker/login-action@v3
        with:
          registry: https://ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v6
        with:
          build-args: "PHP_VERSION=${{ matrix.php }}"
          tags: "ghcr.io/thesis-php/php:${{ matrix.php }}"
          push: true
